In [1]:
import pandas as p

In [2]:
df=p.read_csv("BT.csv")

In [3]:
print(df)

         Date Description    Deposits Withdrawls     Balance
0   20-Aug-20        NEFT   23,237.00          0   37,243.31
1   20-Aug-20        NEFT           0   3,724.33   33,518.98
2   20-Aug-20  Commission         245          0   33,763.98
3   20-Aug-20        NEFT   12,480.00          0   46,243.98
4   20-Aug-20        RTGS           0  11,561.00   34,682.98
..        ...         ...         ...        ...         ...
95  21-Aug-20  Debit Card        2.78          0   51,023.28
96  21-Aug-20  Commission  300,660.00          0  351,683.28
97  21-Aug-20        IMPS           0  87,920.82  263,762.46
98  21-Aug-20         ATM           0  26,376.25  237,386.21
99  21-Aug-20    Transfer  193,326.38          0  430,712.59

[100 rows x 5 columns]

In [5]:
d=p.Series([1,2,3])
d

0    1
1    2
2    3
dtype: int64

In [7]:
df["Date"]

0     20-Aug-20
1     20-Aug-20
2     20-Aug-20
3     20-Aug-20
4     20-Aug-20
        ...
95    21-Aug-20
96    21-Aug-20
97    21-Aug-20
98    21-Aug-20
99    21-Aug-20
Name: Date, Length: 100, dtype: object

In [8]:
df[["Date"]]

         Date
0   20-Aug-20
1   20-Aug-20
2   20-Aug-20
3   20-Aug-20
4   20-Aug-20
..        ...
95  21-Aug-20
96  21-Aug-20
97  21-Aug-20
98  21-Aug-20
99  21-Aug-20

[100 rows x 1 columns]

In [9]:
df.head()

        Date Description   Deposits Withdrawls    Balance
0  20-Aug-20        NEFT  23,237.00          0  37,243.31
1  20-Aug-20        NEFT          0   3,724.33  33,518.98
2  20-Aug-20  Commission        245          0  33,763.98
3  20-Aug-20        NEFT  12,480.00          0  46,243.98
4  20-Aug-20        RTGS          0  11,561.00  34,682.98

In [10]:
df.tail()

         Date Description    Deposits Withdrawls     Balance
95  21-Aug-20  Debit Card        2.78          0   51,023.28
96  21-Aug-20  Commission  300,660.00          0  351,683.28
97  21-Aug-20        IMPS           0  87,920.82  263,762.46
98  21-Aug-20         ATM           0  26,376.25  237,386.21
99  21-Aug-20    Transfer  193,326.38          0  430,712.59

In [12]:
df.dtypes

Date           object
Description    object
Deposits       object
Withdrawls     object
Balance        object
dtype: object

In [15]:
df.describe()

             Date Description Deposits Withdrawls Balance
count         100         100      100        100     100
unique          2          15       59         41      95
top     21-Aug-20      Cheque        0          0       0
freq           70          10       42         60       4

In [18]:
df["paid"]=1000,750

ValueError: Length of values does not match length of index

In [19]:
df

         Date Description    Deposits Withdrawls     Balance  paid
0   20-Aug-20        NEFT   23,237.00          0   37,243.31  1000
1   20-Aug-20        NEFT           0   3,724.33   33,518.98  1000
2   20-Aug-20  Commission         245          0   33,763.98  1000
3   20-Aug-20        NEFT   12,480.00          0   46,243.98  1000
4   20-Aug-20        RTGS           0  11,561.00   34,682.98  1000
..        ...         ...         ...        ...         ...   ...
95  21-Aug-20  Debit Card        2.78          0   51,023.28  1000
96  21-Aug-20  Commission  300,660.00          0  351,683.28  1000
97  21-Aug-20        IMPS           0  87,920.82  263,762.46  1000
98  21-Aug-20         ATM           0  26,376.25  237,386.21  1000
99  21-Aug-20    Transfer  193,326.38          0  430,712.59  1000

[100 rows x 6 columns]