In [2]:
import pandas as p
import numpy as n

In [3]:
df=p.read_csv("2021_population.csv")

In [4]:
df

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,CHN,China,"1,447,065,329","1,439,323,776","9,706,961 sq_km",149/sq_km,0.34%,18.34%,1
1,IND,India,"1,401,310,563","1,380,004,385","3,287,590 sq_km",424/sq_km,0.97%,17.69%,2
2,USA,United States,"334,058,426","331,002,651","9,372,610 sq_km",36/sq_km,0.58%,4.23%,3
3,IDN,Indonesia,"278,037,263","273,523,615","1,904,569 sq_km",145/sq_km,1.04%,3.51%,4
4,PAK,Pakistan,"227,724,796","220,892,340","881,912 sq_km",255/sq_km,1.95%,2.86%,5
...,...,...,...,...,...,...,...,...,...
219,MSR,Montserrat,"4,977","4,992",102 sq_km,49/sq_km,-0.30%,0.00%,228
220,FLK,Falkland Islands,"3,533","3,480","12,173 sq_km",0/sq_km,1.52%,0.00%,229
221,NIU,Niue,"1,619","1,626",260 sq_km,6/sq_km,-0.43%,0.00%,230
222,TKL,Tokelau,"1,373","1,357",12 sq_km,114/sq_km,1.18%,0.00%,231
223,VAT,Vatican City,800,801,1 sq_km,800/sq_km,-0.12%,0.00%,232

In [14]:
df.head()

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,CHN,China,"1,447,065,329","1,439,323,776","9,706,961 sq_km",149/sq_km,0.34%,18.34%,1
1,IND,India,"1,401,310,563","1,380,004,385","3,287,590 sq_km",424/sq_km,0.97%,17.69%,2
2,USA,United States,"334,058,426","331,002,651","9,372,610 sq_km",36/sq_km,0.58%,4.23%,3
3,IDN,Indonesia,"278,037,263","273,523,615","1,904,569 sq_km",145/sq_km,1.04%,3.51%,4
4,PAK,Pakistan,"227,724,796","220,892,340","881,912 sq_km",255/sq_km,1.95%,2.86%,5

In [5]:
df.columns

Index(['iso_code', 'country', '2021_last_updated', '2020_population', 'area',
       'density_sq_km', 'growth_rate', 'world_%', 'rank'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 9 columns):
iso_code             224 non-null object
country              224 non-null object
2021_last_updated    224 non-null object
2020_population      224 non-null object
area                 224 non-null object
density_sq_km        224 non-null object
growth_rate          224 non-null object
world_%              224 non-null object
rank                 224 non-null int64
dtypes: int64(1), object(8)
memory usage: 15.9+ KB

In [7]:
df["2021_last_updated"]=df["2021_last_updated"].astype('int64')

ValueError: invalid literal for int() with base 10: '1,447,065,329'

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
df[df["2021_last_updated"]==df["2021_last_updated"].min()]["country"]

In [56]:
s=2435534646
print(type(s))
print(s)

<class 'int'>
2435534646

In [59]:
df["rank"].apply(int)

0        1
1        2
2        3
3        4
4        5
      ...
219    228
220    229
221    230
222    231
223    232
Name: rank, Length: 224, dtype: int64

In [60]:
df["rank"].max()

232

In [61]:
df.dtypes

iso_code             object
country              object
2021_last_updated    object
2020_population      object
area                 object
density_sq_km        object
growth_rate          object
world_%              object
rank                  int64
dtype: object

In [11]:
df["2021_last_updated"]=df["2021_last_updated"].astype('float64')

ValueError: could not convert string to float: '1,447,065,329'

In [83]:
d=p.read_csv("students.csv",header=None)

In [84]:
d

      0         1       2     3      4          5
0    ID      NAME  BRANCH  CGPA  MARKS        FEE
1   596    bhagya     cse   9.5    450       1000
2   766      teja     ece   9.7    470       2000
3   373  poojitha     cse  9.72    478  2,425,346
4   992      neha     ece  9.89    490      23535
5   305     satya      ce  9.74    479      56457
6   999     sailu     eee   9.8    480       7567
7   420    geetha     cse   9.7    470      68568
8   191   sumathi      ce  9.89    490       5754
9   895     madhu      ce  9.75    475       6765
10  425   dharani     ece  9.95    495       5677

In [75]:
d.dtypes

ID          int64
NAME       object
BRANCH     object
CGPA      float64
MARKS       int64
FEE        object
dtype: object

In [76]:
d["FEE"].min()

'1000'

In [79]:
d["FEE"]=d["FEE"].astype('int')

ValueError: invalid literal for int() with base 10: '2,425,346'

In [80]:
print(d)

    ID      NAME BRANCH  CGPA  MARKS        FEE
0  596    bhagya    cse  9.50    450       1000
1  766      teja    ece  9.70    470       2000
2  373  poojitha    cse  9.72    478  2,425,346
3  992      neha    ece  9.89    490      23535
4  305     satya     ce  9.74    479      56457
5  999     sailu    eee  9.80    480       7567
6  420    geetha    cse  9.70    470      68568
7  191   sumathi     ce  9.89    490       5754
8  895     madhu     ce  9.75    475       6765
9  425   dharani    ece  9.95    495       5677

AttributeError: 'DataFrame' object has no attribute 'header'