In [2]:
s1={1,2,3}
s2={3,4,5,6}
print(s1,s2)

{1, 2, 3} {3, 4, 5, 6}

In [3]:
for x in s1:
    print(x)

1
2
3

In [4]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [5]:
s1.intersection(s2)

{3}

In [17]:
s1

{1, 2, 3}

In [6]:
s1.difference(s2)

{1, 2}

In [7]:
s2.difference(s1)

{4, 5, 6}

In [8]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [9]:
s2.discard(4)

In [10]:
print(s2)

{3, 5, 6}

In [11]:
s3={3}

In [12]:
s3.issubset(s2)

True

In [13]:
print(s1.difference_update(s2))

None

In [18]:
s1

{1, 2, 3}

In [27]:
s4=s1.copy()
print(s4)

{1, 2, 3}

In [28]:
print(s1)

{1, 2, 3}

In [29]:
s1.add(3)

In [30]:
print(s1)

{1, 2, 3}

In [31]:
s1.remove(3)

In [32]:
print(s1)

{1, 2}

In [33]:
s1.add(3)
print(s1)

{1, 2, 3}

In [38]:
s4.remove(3)

In [39]:
print(s1,s2,s3,s4)

{1, 2, 3} {3, 5, 6} {3} {1, 2}

In [40]:
s3.isdisjoint(s4)

True

In [41]:
s3.issubset(s4)

False

In [42]:
s3.issubset(s1)

True

In [43]:
s3.update({5,6})

In [44]:
print(s3)

{3, 5, 6}

In [45]:
s3.remove(5)

In [46]:
s3.remove(6)

In [47]:
s3

{3}

In [48]:
s3.update({5,6})

In [49]:
s3

{3, 5, 6}

In [50]:
s3.update({6})

In [51]:
s3

{3, 5, 6}

In [52]:
s1

{1, 2, 3}

In [53]:
s2

{3, 5, 6}

In [54]:
s1.add(7)

In [55]:
s1

{1, 2, 3, 7}

In [56]:
s2

{3, 5, 6}

In [57]:
s2={3,4,5,6}
print(s2)

{3, 4, 5, 6}

In [58]:
s2.update({8,9})
print(s2)

{3, 4, 5, 6, 8, 9}

In [59]:
s1.discard(1)
print(s1)

{2, 3, 7}

In [60]:
s2.remove(4)
print(s2)

{3, 5, 6, 8, 9}

In [61]:
s2.pop()

3

In [62]:
s1.union(s2)

{2, 3, 5, 6, 7, 8, 9}

In [63]:
s1.intersection(s2)

set()

In [64]:
del s1

In [65]:
s1

NameError: name 's1' is not defined

In [66]:
s2

{5, 6, 8, 9}

In [67]:
for x in s2:
    print(x)

5
6
8
9

In [68]:
s1={1,2,3}

In [69]:
s2.add(3)
print(s2)

{3, 5, 6, 8, 9}

In [70]:
s1.update(s2)
print(s1)

{1, 2, 3, 5, 6, 8, 9}

In [71]:
s1.symmetric_difference(s2)

{1, 2}

In [72]:
s1

{1, 2, 3, 5, 6, 8, 9}

In [73]:
s2

{3, 5, 6, 8, 9}

In [66]:
s1.symmetric_difference_update(s2)